.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TicTacBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
}

.XO {
  width: 25px;
  height: 25px;
}

.XOEmpty {
  /* background-color: indianred;  */
  width: 25px;
  height: 25px;
}

.DropTable { 
  display: flex;
  flex-direction: row;
}

.DropCell {
  border: black solid 1px;
  width: 40px;
  height: 40px;
}

.DropCellDropped {
  border: black solid 1px;
  /* background-color: darkgoldenrod; */
  width: 40px;
  height: 40px;
}
